$sidebar-color: #333;
$sidebar-text-color: #ccc;
$report-background-color: #fff;

body {
    margin: 0;
    padding: 0;
    background: $report-background-color;
    color: $sidebar-color;
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 230px 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1;
    background-color: $sidebar-color;
    color: $sidebar-text-color;
    overflow: auto;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li a, .sidebar ul li a:visited {
    color:inherit;        
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

#current-link {
    color: rgb(255, 0, 0);    
}

.main {
    grid-column: 2;
    overflow: auto;
}

// tabs are hidden, then shown when selected from the sidebar
.report {
    display: none;
}

