$sidebar-color: #333;
$sidebar-text-color: #ddd;
$report-background-color: #fff;

body {
    margin: 0;
    padding: 0;
    background: $report-background-color;
    color: $sidebar-color;
    font-family: "Lato", sans-serif;
    font-size: 1em;
}

.wrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 250px 1fr;
    height: 100vh;
}

.sidebar {
    grid-column: 1;
    overflow: auto;
    background-color: #eee;
    //padding: 1em;
}

#change-reports {
    background-color: #aaa;    
    padding: 0.5em;
}

#report-selector {
    display: none;
}

.widgetform {
    padding: 1em;
}

// hide all tabbed DOM by default
.report-tab {
    display: none;
}

.report {
    grid-column: 2;
    overflow: auto;
    padding: 1em;
}

.figure {
    //margin: auto;
}

.figure-placeholder {
    background-color: $sidebar-color;
    color: $sidebar-text-color;
    padding: 2em;
}

.widgetcontainer {
    // spacing b/w adjacent widgets
    margin-bottom: 0.5em;
}

.update-buttons {
    margin-top: 1em;
}

// Styling for built-in widgets
