{% from 'widgetform.html' import widgetform %}
<div class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>{{ name }}</h5>
            </div>
            <div class="modal-body utility-form">
                {% widgetform(widgets) %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                <button type="button" class="btn btn-secondary">reset</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">submit</button>
            </div>
        </div>
    </div>
</div>
