<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIY Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="sidebar">
            <p>reports</p>
            <ul>
                {% for report in reports %}
                    <li><a href="{{report.href}}">{{report.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            {% block main %}
                Welcome to DIY Dashboard
            {% endblock %}
        </div>
    </div>
</body>
</html>
