<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <!-- from HTML5 Boilerplate !-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>dashlet</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <script src="{{ url_for('static', filename='vendor/modernizr-2.8.3.min.js') }}"></script>

    <!-- project-specific setup !-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- my scripts (NB: must occur in this order) !-->
    <script src="{{ url_for('static', filename='reports.js') }}"></script>
    <script src="{{ url_for('static', filename='widgets.js') }}"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- for date-range picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <script src="//cdn.jsdelivr.net/bootstrap/3/js/bootstrap.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <!-- for embedding bokeh --!>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.css"
    rel="stylesheet" type="text/css">
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.css"
        rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.6.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.6.min.js"></script>
</head>
<body id="body">
    <div class="wrapper">
        <div class="sidebar">
            <select id="report-selector">
                {% for report in reports %}
                <option class="report-option" value="report-{{loop.index0}}">{{report.name}}</option>
                {% endfor %}
            </select>
            <!-- TODO: use the Bootstrap div with a div/simple button --!>
            <div class="dropdown">
                <div id="change-reports" class="dropdown-toggle" data-toggle="dropdown">
                    dropdown div
                </div>
              <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">-->
                  <!--change report-->
                  <!--<span class="caret"></span>-->
              <!--</button>-->
              <ul class="dropdown-menu">
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </div>
            {% for report in reports %}
            <form id="widgetform-{{ loop.index0 }}" class="widgetform report-tab report-{{loop.index0}}">
                <h4>{{ report.name }}</h4>
                <!-- all user-defined widgets --!>
                <div class="user-widgets">
                    {% for widget in report.widgets %}
                    <div class="widgetcontainer" name="{{widget.name}}" data-widget-type="{{widget.type}}">
                        {{ widget.html | safe }}
                    </div>
                    {% endfor %}
                </div>
                <!-- if there are user-defined widgets, provide a button to reset to their default values --!>
                <div class="update-buttons">
                    <input class="submit-button"  type="submit" value="reload">
                    {% if report.widgets %}
                    <input class="reset-button" type="reset" value="restore defaults">
                    {% endif %}
                </div>
            </form>
            {% endfor %}
        </div>
        {% for report in reports %}
        <div id="report-{{ loop.index0 }}" class="report report-tab report-{{loop.index0}}" data-reportindex="{{ loop.index0 }}">
            <div id="figure-{{ loop.index0 }}" class="figure">
                <div class="figure-placeholder">
                    press reload to generate the figure here
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- script from HTML5 boilerplate setup !-->
    <script src="{{ url_for('static', filename='plugins.js') }}"></script>
</body>
</html>
