<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DIY Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <!-- for date-range picker -->
    <!--<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css" />
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
</head>
<body id="body">
    <div class="wrapper">
        <div class="sidebar">
            <p>reports</p>
            <ul>
                {% for report in reports %}
                <button id="button-{{ loop.index0 }}" class="tab-button" onclick="changeTab(event, 'report-{{ loop.index0 }}')">{{ report.name }}</button><br>
                {% endfor %}
            </ul>
        </div>
        <div class="main">
            <script src="{{ url_for('static', filename='reports.js') }}"></script>
            {% for report in reports %}
            <div id="report-{{ loop.index0 }}" class="report" data-reportindex="{{ loop.index0 }}">
                <script src="{{ url_for('static', filename='add_report.js') }}"></script>
                <div id="figure-{{ loop.index0 }}" class="figure">
                    <p>press reload for default figure</p>
                </div>
                <form id="widgetform-{{ loop.index0 }}" class="widgetform">
                    {% for widgetHTML in report.widgetsHTML %}
                        {{ widgetHTML | safe }}
                    {% endfor %}
                    <input type="reset" value="restore defaults">
                    <input type="submit" value="reload">
                </form>   
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
